h1 { 
  font-size:3em;
  color:red;
  text-align:center;
  display:none;
}
 p{
   font-style:italic;
   color:green;
     display:none;
}
#beaches{
     font-size:2em;
}
img{
  height :15em;
   width:15em;
}
 #round-picture {
   border-radius:15em;
}
button {
     padding:.75em;
  background:green;
  color:red;
   font-weight :700;
}
button:hover {
   background:red;
   color:white;
}
