h1{
  font-size: 3em;
  color: purple;
  text-align: center;
  display:none;
}

p{
  font-style: italic;
  color: red;
 display:none; 
}

#Vision {
 font-size: 2em; 
}
img {
  height: 15em;
    width: 15em;
}

#round-picture {
  border-radius: 15em;
}
